*.pyc
__pycache__
build/**
resources/payloads/*.lua
venv
.DS_Store
.vscode/settings.json
dist/**
# User-specific stuff
.idea/
.env
env/

#pydcs seem to go bellow folder
/src
/src/pydcs

/kneeboards
/liberation_preferences.json
/state.json
/serverconfig.env

/logs/
/resources/logging.yaml

state.json
.mypy_cache

*.psd

*.code-workspace
